@import './base.css';

#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #186AFF;
  transition: 0.4s;
}

@media (min-width: 1024px) {
  body {
    /*display: flex;*/
    place-items: center;
  }

  #app {
    display: grid;
    
    padding: 0 2rem;
  }
}
